

body 		{
				background: #8C584D;
				font-family: Garamond;
				font-weight: 18px;
			}
.main
			{	
				width: 80%;
				margin: 100px auto;	
			}
#h3
			{
				color: black;
				font-family: Garamond;
				font-size: 20pt;
				text-align: center;
			}

#h1
			{
				color: black;
				font-family: Garamond;
				font-size: 48pt;
				text-align: center;
			}
			
.allign
			{
				height: 300px;
				width: 300px;
				position: relative;
				margin: 300px auto;
			}

.bold
			{
				font-style: bold; 
			}
